<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="sqlserver" connectionString="server=.\sqlexpress;uid=sa;pwd=qwerty123456;database=test;min pool size=2;max pool size=3;connect timeout=5"/>
  </connectionStrings>
</configuration>